/* CSS Style Sheet for easy css */
h1 {
    font-family: arial;
 	
}
h2 {
    font-family: lucida calligraphy;
    font-size: 25px;
    margin-top:50px;
    margin-left: 100;

}
h3 {
    font-family: cooper black;
    font-size: 60px;
    margin-top:5px;
    margin-bottom:25px;
}
p {
    font-family: Times new roman;
    font-size: 20px;
}

h4 {
    font-family: Britannic bold;
    font-size: 35px;
}
p {
    font-family: Times new roman;

}

h5 {
    font-family: arial;
    font-size: 20px;
}
p {
    font-family: Times new roman;

}

.fontMargin {
    margin: 0px 0px 0px 0px;
}
body {
    background-color: #cbe1ea;
}
header {
	height: 120px;
	background-color: #0b2e46;
	color: white;
}


#container {
    position: relative;
    background-color: #ffffff;
    height: 1450px;
    width: 1100px;
    /*margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;*/
    margin: 0px auto 0px auto;
}
#nav {
    height: 42px;
    background-color: #000000;
    top: 0px;
    left: 0px;
    color: white;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-family: "times new roman";  
  font-size: 1.1em;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#banner {
	height: 30px;
	background-color: #002699;
}
footer {
        position: absolute;
	height: 80px;
        width: 100%;
	background-color: #0b2e46;
	color: white;
	bottom: 0px;
}