/* CSS Style Sheet for easy css */

header {
  height: 180px;
  background-color: #0b2e46;
  color: white;
}

body {
  background-color: lightgray;
}

h1 {
  font-size: 4.5em;
  font-family: cooper black;
  text-align: left;
  padding-left: 250px;	
}


h2 {
  font-family: lucida calligraphy;
  font-size: 1.5em;
  color: #0b2e46;


}

#imagesMain{
  text-align: center;
}

#container {
    position: relative;
    background-color: #ffffff;
    width: 1200px;
    /*margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;*/
    margin: 0px auto 0px auto;
}	

p {
    padding-left:50px
}

a {
    font-family: helvetica;
    font-size: 1.3em;
    color: black;
    line-height: 150%;
    padding-left:30px
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white ;
  background-color:#aaa;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  font-family: "times new roman";  
  font-size: 1.1em;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

footer {
        position: absolute;
	height: 50px;
        width: 100%;
	background-color: #0b2e46;
	color: white;
	bottom: 0px;
}

